doctype html
html
  head
    title Users List
    link(rel="stylesheet", href="/styles.css")
  body
    h1 Список користувачів
    ul
      each user in users
        li: a(href=`/users/${user.id}`)= user.name
