doctype html
html
  head
    title User Details
    link(rel="stylesheet", href="/styles.css")
  body
    h1 Деталі користувача
    p ID: #{user.id}
    p Name: #{user.name}
    a(href="/users") ← Назад до списку користувачів
