<!DOCTYPE html>
<html>
  <head>
    <title>Article Details</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1><%= article.title %></h1>
    <p><%= article.content %></p>
    <a href="/articles">← Назад до списку статей</a>
  </body>
</html>
