<!DOCTYPE html>
<html>
  <head>
    <title>Articles</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Список статей</h1>
    <ul>
      <% articles.forEach(article => { %>
        <li><a href="/articles/<%= article.id %>"><%= article.title %></a></li>
      <% }) %>
    </ul>
  </body>
</html>
